In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

series is get name with index value

In [3]:
a1=pd.Series(['edit','edit','edit','edit','edit','edit','edit','edit','edit','edit','edit','edit'],index=[0,1,2,3,4,5,6,7,8,9,10,11])

In [4]:
a1

0     edit
1     edit
2     edit
3     edit
4     edit
5     edit
6     edit
7     edit
8     edit
9     edit
10    edit
11    edit
dtype: object

# DATA SET CREATION

### nested dictionary

In [5]:
season={"Stu_RegNo":{1:'nov',2:'dec',3:'jan',4:'feb'},"dry":{1:'mar',2:'apr',3:'may',4:'june'},"rain":{1:'july',2:'aug',3:'sep',4:'oct'}}

In [6]:
student={"Stu_RegNO":{}}

pd.DataFrame use for convert the data set into dataframe to gain CSV file

In [7]:
d = pd.DataFrame(season,columns=["winter","dry","rain"])

In [8]:
d

  winter   dry  rain
1    NaN   mar  july
2    NaN   apr   aug
3    NaN   may   sep
4    NaN  june   oct

In [12]:
import pandas as pd

# Existing student data
STU_REGNO = {1: 122012012778, 2: 122011012777, 3: 122011012780, 4: 122011012781, 5: 122012012781}
STU_NAME = {1: 'AbdulRahman S', 2: 'Abinaya R', 3: 'Afreen D', 4: 'Afshal Jashith', 5: 'Anbarasan G'}

# New students data
new_students = {
    6: (122012012784, 'Arun Ignasiyasiyas M'),
    7: (122012012786, 'Ayyappapandi V'),
    8: (122012012787, 'Bajajee H'),
    9: (122012012788, 'Balasuriya S'),
    10: (122011012790, 'Dharshini-p'),
    11: (122011012791, 'Durga Devi S'),
    12: (122011012792, 'Elmuki RJ' ),
    13: (122012012794, 'GuruPrasath S B'),
    14: (122012012800, 'Irfan Ahemed N'),
    15: (122011012801, 'Jenifer Mary X'),
    16: (122011012803, 'Kamali M',),
    17: (122012012804, 'Karthikeyan L',),
    18: (122011012805, 'Keerthanaa P',),
    19: (122012012813, 'KubandraGuptha J'),
    20: (122012012808, 'Maravarman P',),
    21: (122012012813, 'Mouleeshwaran V A',)
}

# Update the original dictionaries
for key, (regno, name) in new_students.items():
    STU_REGNO[key + 5] = regno
    STU_NAME[key + 5] = name
# Combine into a DataFrame
df = pd.DataFrame({
    'RegNo': STU_REGNO,
    'Name': STU_NAME,
})
df

           RegNo                  Name
1   122012012778         AbdulRahman S
2   122011012777             Abinaya R
3   122011012780              Afreen D
4   122011012781        Afshal Jashith
5   122012012781           Anbarasan G
11  122012012784  Arun Ignasiyasiyas M
12  122012012786        Ayyappapandi V
13  122012012787             Bajajee H
14  122012012788          Balasuriya S
15  122011012790           Dharshini-p
16  122011012791          Durga Devi S
17  122011012792             Elmuki RJ
18  122012012794       GuruPrasath S B
19  122012012800        Irfan Ahemed N
20  122011012801        Jenifer Mary X
21  122011012803              Kamali M
22  122012012804         Karthikeyan L
23  122011012805          Keerthanaa P
24  122012012813      KubandraGuptha J
25  122012012808          Maravarman P
26  122012012813     Mouleeshwaran V A

In [15]:
df.to_csv('C:/Users/abishek/Desktop/student1.csv', index=False)

In [19]:
gg=pd.read_csv('C:/Users/abishek/Desktop/student1.csv')

In [20]:
gg

           RegNo                  Name
0   122012012778         AbdulRahman S
1   122011012777             Abinaya R
2   122011012780              Afreen D
3   122011012781        Afshal Jashith
4   122012012781           Anbarasan G
5   122012012784  Arun Ignasiyasiyas M
6   122012012786        Ayyappapandi V
7   122012012787             Bajajee H
8   122012012788          Balasuriya S
9   122011012790           Dharshini-p
10  122011012791          Durga Devi S
11  122011012792             Elmuki RJ
12  122012012794       GuruPrasath S B
13  122012012800        Irfan Ahemed N
14  122011012801        Jenifer Mary X
15  122011012803              Kamali M
16  122012012804         Karthikeyan L
17  122011012805          Keerthanaa P
18  122012012813      KubandraGuptha J
19  122012012808          Maravarman P
20  122012012813     Mouleeshwaran V A

In [21]:
import numpy as np

np.random.randint use for generate random number with (0,1 for range of number),(size=(10,4)10 = rows,4 = columns),(column=list('abcd')abcd = column names)

In [22]:
kd=pd.DataFrame(np.random.randint(0,1,size=(65,4)),columns = list('abcd'))

In [23]:
kd

    a  b  c  d
0   0  0  0  0
1   0  0  0  0
2   0  0  0  0
3   0  0  0  0
4   0  0  0  0
.. .. .. .. ..
60  0  0  0  0
61  0  0  0  0
62  0  0  0  0
63  0  0  0  0
64  0  0  0  0

[65 rows x 4 columns]

## Export as CSV

to_csv function use for export csv file

In [24]:
dd.to_csv('C:/Users/abishek/Desktop/laptop.csv')

NameError: name 'dd' is not defined

read_csv use for read exiting csv file in local storage or if need to read excel file use xlrd library to inpported and use read_excel instead of read_csv

In [31]:
d = pd.read_csv('C:/Users/abishek/Desktop/laptop.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/abishek/Desktop/laptop.csv'

In [16]:
d

,Unnamed: 0,ASUS,ACER,HP,DELL,LENOVO
0,1,TUF,NITRO_5,ENVY,LATITUDE,LOQ
1,2,VIVO BOOK,Chromebook Plus 15,VICTUS,ALIENWARE,YOGA SLIM
2,3,ZEN BOOK,ALG,SPECTRE,INSPIRON,THINKPAD
3,4,CHOROME BOOK,PREDATOR,PAVILLION,XPS,IDEAPAD
4,5,ROG,DUMMY,OMEN,NaN,LEGION

### Drop Column In CSV

drop function use for drop particular column to be removed!

In [17]:
d.drop("HP",axis=1)

   Unnamed: 0          ASUS                ACER       DELL     LENOVO
0           1           TUF             NITRO_5   LATITUDE        LOQ
1           2     VIVO BOOK  Chromebook Plus 15  ALIENWARE  YOGA SLIM
2           3      ZEN BOOK                 ALG   INSPIRON   THINKPAD
3           4  CHOROME BOOK            PREDATOR        XPS    IDEAPAD
4           5           ROG               DUMMY        NaN     LEGION

## Function shape is use d find row,column number

using shape function for know the row&column of table

In [25]:
d.shape

(4, 3)

## Function Info used to know each and every column information get by this functon!

info function summarize the data in class type,index range,columns name&datatypes,non-null count,memory usage

In [26]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 1 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   winter  0 non-null      object
 1   dry     4 non-null      object
 2   rain    4 non-null      object
dtypes: object(3)
memory usage: 128.0+ bytes

#

In [27]:
kd = pd.read_csv('C:/Users/abishek/Downloads/Sample - Superstore.csv')

In [28]:
kd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [29]:
kd.shape

(9994, 21)

In [30]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\abishek\anaconda3\envs\abishek\lib\site-packages (2.0.1)Note: you may need to restart the kernel to use updated packages.