#### understanding Loop
### For Loop based on datas
### Creating List

In [1]:
a = (1,2,3)
b = ('asus','aspire')
c = (1,2)

In [9]:
for i in b:
    for j in a:
        for k in a:
            print(i)

asus
asus
asus
asus
asus
asus
asus
asus
asus
aspire
aspire
aspire
aspire
aspire
aspire
aspire
aspire
aspire

In [5]:
for i in b:
    print(i)

asus
aspire

In [13]:
for i in a:
    for j in b:
        for k in a:
            print(i)

1
1
1
1
1
1
2
2
2
2
2
2
3
3
3
3
3
3

## While Loop

In [1]:
n = input("Enter a number: ")
val = 0
i = 0

while i <= int(n):
    val +=i
    i += 1
    print(f"The Sum is {val}")

Enter a number:  5

The Sum is 0
The Sum is 1
The Sum is 3
The Sum is 6
The Sum is 10
The Sum is 15

## Understanding function Syntax

In [ ]:
def <funvtion_name>(parameters):
    <statemet(s)>

### function to print your name

In [7]:
def intro(name):
    print(f"Hello,My Name is {name}.")

In [9]:
stud_name = input("Enter Name: ")

Enter Name:  kumar

In [11]:
intro(stud_name)

Hello,My Name is kumar.

In [37]:
def evenodd(num):
    if int(num)%2 ==0:
        print(f"The Number {num} is even number")
    else:
        print(f"The Number {num} is odd number")

In [39]:
num_ber = int(input())

 223

In [41]:
evenodd(num_ber)

The Number 223 is odd number